<% include ../common/header %>
<div id="main">
	<% list.forEach(function(info){ %>
	<section class="content">
		<img src="<%= info.img%>" />
		<div class="title">
			<h2><a href="index/info?id=<%= info.id%>"><%= info.title%></a></h2>
			<p><%= info.introduce%></p>
		</div>
	</section>
	<div class="clearfix"></div>
	<% })%>
<% include ../common/footer %>
<script>
	let page_count = Math.ceil(<%= count%> / 10),
		page = 0;

	$(window).scroll(function(){
	　　var scrollTop = $(this).scrollTop();
	　　var scrollHeight = $(document).height();
	　　var windowHeight = $(this).height();
	　　if(scrollTop + windowHeight == scrollHeight){
			if( page < page_count){
				let args = {
					url : '/index/page',
					data : {
						page : ++ page
					}
				}
				bt.https.post(args,function(result){
					let html = '';
					for(let item of result.data){
						html += `<section class="content">
									<img src="${item.img}" />
									<div class="title">
										<h2><a href="index/info?id=${item.id}">${item.title}</a></h2>
										<p>${item.introduce}</p>
									</div>
								</section>
								<div class="clearfix"></div>`;
					}
					$('#main').append(html);
				})
			}
	　　}
	});
</script>